.button {
  background-color: #f0f0f0;
  border: none;
  border-bottom: solid 1px #888;
  border-right: solid 1px #888;
  font-size: 1.4em;
  outline: none;
}

.button:active {
  background-color: #ccc;
}

.button.twoColumn {
  grid-column: span 2;
}

.button.threeColumn {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
  border-right: none;
  color: #fff;
}

.button.operation:active {
  background-color: #fa8231cc;
}
